body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container1{ 
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

img{
    width: 20%;
    padding: 20px;
    align-items: center;
}

nav{
    text-align: right; 
}

.login{
    background-color: ivory;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 30px;
}

input#login{
    padding: 15px;
    width: 450px;
    border-radius: 10px;
    border: solid rgb(188, 197, 216);
    color: #cbc5c5;
}

button{
    padding: 10px; 
    width: 210px; 
    border-radius: 20px; 
    border: 0.5px solid grey;
    background-color: #0d6efd;
    color: white;
}

.container2{
    display: flex;
    width: 90%;
    margin: auto;
}

.left img{
    width: 90%;
    height: 90%;
}

.right{
    align-items: center;
    
}

.right2 input{
    width: 70%;
    padding: 12px;
    border-radius: 5px;
    margin: auto;
    border-color: grey solid;
    border: 1px solid;
    font-size: larger;
}

.Introduction{
    background-image: url(images/SBbackground.jpg);
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}

.Gallery{
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.Gallery img{
    width: 90%;
    object-fit: cover;
    border-radius: 10%;
    /*padding: 10%;*/
    align-items: center;
    justify-content: center;
}

.Gallery1, .Gallery2{
    width: 45%;
    padding: 30px;
    align-items: center;
}
.Gallery button{
    margin-bottom: 20px;
}

.contact {
    margin-left: -2%;
    margin-right: -2%;
    margin-top: -4%;
    margin-bottom: 5%;
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact p {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
    margin-bottom: 5%;
    font-size: x-large;
    letter-spacing: 0.2px;
    line-height: 1.5;
    
}

.random{
    width: 50%;
    margin: auto;
    margin-top:5%;
}

.contact1{
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: x-large; 
    line-height: 30px;
    letter-spacing: 0.5px;
    margin-top: 0%;
}

.contact21{
    margin: auto;
    width: 70%;
    margin-bottom: 10%;
}

td, tr {
    padding: 10px;
    border: 1px solid rgb(249, 248, 248);
    text-align: justify;
    width: 70px;
    font-size: larger;
    border-collapse: 1px;
}

tr:nth-child(even) {
    background-color:  rgb(250, 191, 216);
  }

table {
    margin-top: 15%;
    border-collapse: collapse;
  }

